package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link href="/dist/main.css?v=1" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
