package pages

import "github.com/krzysztofengineer/template/layouts"

templ Login() {
	@layouts.Base("Login") {
		<div class="flex items-center justify-center min-h-screen w-screen">
			Login page
		</div>
	}
}
